@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	min-height: 100vh;
	overflow: hidden;
}
.main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background: #001300;
	animation: aniclr 3s linear infinite;
}
@keyframes aniclr {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
.main span {
	position: relative;
	width: 40px;
	height: 40px;
	display: block;
}
.main span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 150%;
	background: #00ff0a;
	box-shadow: 0 0 10px #00ff0a,
		0 0 20px #00ff0a,
		0 0 40px #00ff0a,
		0 0 60px #00ff0a,
		0 0 80px #00ff0a,
		0 0 100px #00ff0a;
	border-radius: 50%;
	transition: 2s;
	transform: scale(0);
}
.main span:hover::before {
	transition: 0s;
	transform: scale(1);
}
